---
import StylesOnlyLayout from "../layouts/StylesOnlyLayout.astro";
---

<StylesOnlyLayout>
    <div class="p-6">
        <div class="max-w-2xl mx-auto">
            <h1 class="text-3xl font-bold mb-2">Privacy Policy</h1>
            <div class="flex flex-col gap-2">
                <p>At <b>Code & Beverage</b>, I value your privacy.</p>
                <p>
                    I only collect your email address when you voluntarily
                    subscribe to the newsletter. Your email is collected and
                    managed through the <a
                        href="https://kit.com"
                        class="underline text-[#D99C00]">Kit</a
                    > product, which I use to manage subscriptions.
                </p>
                <p>
                    The collected data is accessible only to me and is not
                    shared with third parties. I do not sell, rent, or disclose
                    your email address to anyone else.
                </p>
                <p>
                    If you wish to unsubscribe at any time, you can do so via
                    the unsubscribe link in any email you receive from me.
                </p>
            </div>
        </div>
    </div>
</StylesOnlyLayout>
