<footer class="flex flex-col gap-2 text-center text-neutral-500">
    <p>All rights reserved &copy; Code & Beverage {new Date().getFullYear()}</p>
    <nav>
        <a href="/terms-of-use" class="underline">Terms of Use</a> |
        <a href="/privacy-policy" class="underline">Privacy Policy</a>
    </nav>
</footer>
