---
const { nextURL, prevURL } = Astro.props;
import ArrowLeftIcon from "../icons/arrow-left.svg";
import ArrowRightIcon from "../icons/arrow-right.svg";
---

<div class="flex justify-between w-full">
    <div>
        {
            prevURL ? (
                <a
                    class="flex items-center py-2 px-5 h-[56px] border-2 border-neutral-950 rounded-full hover:bg-neutral-950 hover:text-white text-neutral-950 cursor-pointer"
                    href={prevURL}
                >
                    <ArrowLeftIcon class="w-[24px] fill-current" />
                    Previous week
                </a>
            ) : (
                <div />
            )
        }
    </div>
    <div>
        {
            nextURL ? (
                <a
                    class="flex items-center py-2 px-5 h-[56px] border-2 border-neutral-950 rounded-full hover:bg-neutral-950 hover:text-white text-neutral-950 cursor-pointer"
                    href={nextURL}
                >
                    Next week
                    <ArrowRightIcon class="w-[24px] fill-current" />
                </a>
            ) : (
                <div />
            )
        }
    </div>
</div>
