---

---

<div class="grid grid-cols-[1fr_1fr] gap-8 my-8">
    <div class="aspect-square overflow-hidden">
        <img src="/public/support.png" class="object-cover w-full h-full" />
    </div>
    <div>
        <h2>Support me</h2>
        <p></p>
        <img src="/public/support-qr-code.png" />
    </div>
</div>
