---

---

<div
    class="flex flex-col sm:flex-row my-8 bg-white p-6 rounded-lg shadow-xs gap-8 sm:gap-0"
>
    <div class="flex justify-center">
        <div class="aspect-square overflow-hidden h-[152px]">
            <img
                src="/support.png"
                class="object-cover w-full h-full rounded-full"
            />
        </div>
    </div>
    <div class="flex flex-col gap-4 sm:p-6 sm:pl-10 text-center sm:text-left">
        <h2 class="text-3xl font-bold">We love our supporters 💛</h2>
        <p>
            Enjoy the content we share? You can show your support with a hot cup
            of coffee at <a
                href="https://buymeacoffee.com/codeandbeverage​"
                class="underline text-[#D99C00]"
                >buymeacoffee.com/codeandbeverage​</a
            >.
        </p>
        <!-- <img src="/support-qr-code.png" /> -->
    </div>
</div>
