---
import { Image } from "astro:assets";
import Support from "../components/support.astro";
import "../styles/global.css";
import heroImage from "../images/hero.png";
import Footer from "../components/footer.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Code & Beverage</title>
        <meta
            name="description"
            content="Your weekly dose of videos about Web Development, to learn something new while enjoying your favorite beverage"
        />
        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://www.codeandbeverage.com" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Code & Beverage" />
        <meta
            property="og:description"
            content="Your weekly dose of videos about Web Development, to learn something new while enjoying your favorite beverage"
        />
        <meta
            property="og:image"
            content="https://www.codeandbeverage.com/images/og.jpg"
        />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="codeandbeverage.com" />
        <meta
            property="twitter:url"
            content="https://www.codeandbeverage.com"
        />
        <meta name="twitter:title" content="Code & Beverage" />
        <meta
            name="twitter:description"
            content="Your weekly dose of videos about Web Development, to learn something new while enjoying your favorite beverage"
        />
        <meta
            name="twitter:image"
            content="https://www.codeandbeverage.com/images/og.jpg"
        />
    </head>
    <body class="container max-w-3xl mx-auto sm:py-4 bg-slate-100">
        <div class="relative rounded-b-lg sm:rounded-3xl overflow-hidden">
            <Image src={heroImage} alt="" width="768" height="512" />
            <div
                class="flex bottom-0 left-0 h-[15rem] w-full absolute bg-gradient-to-t from-[rgba(0,0,0,1)] to-[rgba(0,0,0,0)]"
            >
            </div>
            <div
                class="flex flex-col gap-2 absolute bottom-6 left-5 text-slate-50"
            >
                <h1 class="text-3xl font-bold">Code & Beverage</h1>
                <p class="max-w-[50ch] text-neutral-300">
                    Your weekly dose of videos about Web Development, to learn
                    something new while enjoying your favorite beverage
                </p>
            </div>
        </div>
        <main class="px-5 mb-10">
            <div class="flex mt-8 mb-2 justify-center bg-white rounded-lg shadow-xs">
                <div>
                    <script
                        async
                        data-uid="5fcb11a823"
                        src="https://monout.kit.com/5fcb11a823/index.js"
                    ></script>
                </div>
            </div>
            <div class="mb-8">
                <slot />
            </div>
            <Support />
        </main>
        <Footer />
    </body>
</html>
