---
import Posthog from "../components/posthog.astro";
import Support from "../components/support.astro";
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Code & Beverage</title>
        <Posthog />
    </head>
    <body class="container max-w-3xl mx-auto py-4">
        <div class="relative rounded-3xl overflow-hidden">
            <img src="/hero.png" alt="" class="rounded-inherit" />
            <div
                class="flex bottom-0 left-0 h-[8rem] w-full absolute bg-gradient-to-t from-[rgba(0,0,0,1)] to-[rgba(0,0,0,0)]"
            >
            </div>
            <div
                class="flex flex-col gap-1 absolute bottom-6 left-5 text-slate-50"
            >
                <h1 class="text-3xl font-bold">Code & Beverage</h1>
                <p>Learn something new while enjoying your favorite beverage</p>
            </div>
        </div>
        <main class="px-5 mb-10">
            <slot />
            <!-- <Support /> -->
        </main>
    </body>
</html>
